/* PHASE 5: Cats */
.content-header {
    height: 200px;
    width: 100%;
    background: url(../images/cats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content-header-say-hi {
    position: absolute;
    bottom: 20px;
    left: 240px;
    font-size: 36px;
    line-height: 1;
    font-weight: 300;
    color: white;
    text-shadow: black 0 0 10px;
}

.content-header-add-friend {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    color: black;
    padding: 10px 15px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid black;
}